<div class="container-fluid menu">
  <div class="btn-group float-right pt-4" dropdown placement="bottom right">
    <button id="button-animated" dropdownToggle type="button"
            class="btn btn-outline-primary dropdown-toggle main-menu-button"
            aria-controls="dropdown-animated">
      Main menu <span class="caret"></span>
    </button>
    <ul id="dropdown-animated" *dropdownMenu class="dropdown-menu dropdown-menu-right"
        role="menu" aria-labelledby="button-animated">
      <li role="menuitem"><a class="dropdown-item"><strong>{{ user?.username }}</strong></a></li>
      <li role="menuitem"><a class="dropdown-item">Another action</a>
      </li>
      <li role="menuitem">
        <a class="dropdown-item" (click)="login()" *ngIf="!(isLoggedIn$ | async)">
          <i class="bi bi-lock"></i>
          Administrator Login
        </a>
        <a class="dropdown-item" (click)="logout()" *ngIf="isLoggedIn$ | async">
          <i class="bi bi-lock"></i> Logout
        </a>
      </li>
    </ul>
  </div>

</div>
