.menu {
  z-index: 2;
  position: absolute;
}

.main-menu-button {
  &:hover {
    background: transparent !important;
    color: #0D80F2;
  }

  &:focus {
    box-shadow: none !important;
    color: #0D80F2;
    background: transparent !important;
  }
}

.dropdown-item {
  cursor: pointer;
}
