.standard-container {
  background: rgba(255, 255, 255, 0.25);
  border-radius: 18px;
}

.user-thumbnail {
  width: 78px;
  height: 78px;
  border-radius: 50%;
}

.btn-circle {
  width: 54px;
  height: 54px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.feature-container {
  justify-content: space-evenly;
}

.feature-name {
  font-size: 0.75rem;
  padding-top: 5px;
  text-align: center;
}

.user-card {
  box-shadow: 0 0 8px #ccc;
  border-radius: 10px;
  padding: 5px 11px !important;
}

.user-name-size {
  font-size: 1rem;
}

.date-size {
  font-size: 12px;
}

.item {
  height: 92px;
  border-bottom: 1px #ccc solid;
  padding: 5px 10px;

  &:hover {
    cursor: pointer;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    background: #ffffff;
  }

  &:nth-last-child(1) {
    border-bottom: 0;
  }
}

.btn:focus {
  box-shadow: none !important;
}

.action-btn {
  &:hover {
    background: none !important;
  }
}

.icon-width {
  width: 2rem;
}


@media only screen and (max-width: 992px) {
  .item {
    height: 110px;
  }

  .features {
    align-items: flex-start !important;
  }
}

@media only screen and (max-width: 768px) {
  .item {
    flex-direction: column;
    height: 180px;
  }

  .features {
    justify-content: space-around;
  }
}

@media only screen and (max-width: 420px) {
  .item {
    height: 220px;
  }

}
