<div class="list-container">

  <div class="list-container-thumbnail"
       [ngStyle]="{ 'background-image': 'url(' + bannerURL + ')' }"
  ></div>

  <div class="search-container">
    <div class="search-thumbnail"></div>

    <div class="action-container">
      <div>
        <i class="bi bi-image mx-3"></i>
        <i class="bi bi-palette-fill"></i>

      </div>
      <div>
        <i class="bi bi-gear mx-3" routerLink="/admin"></i>
      </div>
    </div>

    <app-search></app-search>
  </div>

  <div class="container-fluid pt-5 view-container">

    <div class="view-container-thumbnail"></div>

    <div class="actions">
      <i class="bi bi-image mx-3"></i>
      <i class="bi bi-palette-fill"></i>
    </div>

    <div *ngIf="currentView === listViewText; else gridView" class="view">
      <app-standard-view
        [users]="users"
        [userId]="userTestId"
        [user1MainColor]="user1MainColor"
        [user2MainColor]="user2MainColor"
        [displayNumberListView]="displayNumberListView"
      ></app-standard-view>
    </div>

    <ng-template #gridView>
      <app-umbra-dumbra-view
        [users]="users"
        [displayNumberShadowView]="displayNumberShadowView"
      ></app-umbra-dumbra-view>
    </ng-template>

    <button class="btn btn-custom mb-5 w-100 mt-4" (click)="loadMore()"
            [ngStyle]="{ 'background-color': user1MainColor }">
      Load more result
    </button>

  </div>

</div>
